@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


body {
    background-image: url("backgrounddd.jpeg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Libre Bodoni';
    color: #ffd0d0;
    font-size:large;



}

.navBar {
    background-color: #c063e7;
    padding: 20px;
    text-align: center;

}

.navBar a {
    padding: 10px;
}

.navBar a:hover {
    background-color: #0B192C;

}

a {

    color: aliceblue;
    font-size: x-large;

}

.textblack {

    color: #ffd0d0;
}


div {

    text-align: center;
}

#contactme1 {

    font-size: xx-large;

}

.center {

    text-align: center;
}

.box {
    background-color: rgb(116, 18, 146);
    padding: 10px;
}

.box2 {

    background-color: rgba(81, 5, 119, 0.428);
    padding: 10px;

}

.box {

    background-color: #6f1695;
}

.box3 {

    background-color: #0B192C;
}

.DEFTONESS {

    display: flex;
    justify-content: center;

}

.CFMM {
    display: flex;
}


.PROJECTSS {

    display: flex;
}



.PROJECTSS img {

    border-radius: 30px;

}

.IMAGES {

    border-radius: 23px;
}

.bold {
    font-weight: 800;
    color: aliceblue;
}

@media screen and (max-width: 600px) {
    .PROJECTSS {
        flex-direction: column-reverse;
        align-items: center;
    }

    .DEFTONESS {
        overflow: scroll;
        justify-content: start;
    }
}
.centerbox {
    overflow: scroll;
    justify-content: start;
}

@media screen and (max-width{
    
}