
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


body {
    background-color: #D4BEE4;
    font-family: 'Libre Bodoni';
    color: #;
    font-size: x-large;



}
 
.navBar{
    background-color:#500073;
    padding: 20px;
    text-align: center;
    
}
.navBar a {
    padding: 10px;
}
.navBar a:hover {
    background-color: #0B192C;

}

a{

    color: aliceblue;
    font-size:x-large;

}

.textblack{

    color: black;
}


div{

    text-align: center;
}

#contactme1 {

    font-size:xx-large ;

}

.center{

    text-align: center;
}

.box{
    background-color: rgb(116, 18, 146);
    padding: 10px;
}

.box2{

    background-color: rgba(81, 5, 119, 0.428);
    padding: 10px;
    
}

.box{

    background-color: #6f1695;
}

.box3{

    background-color: #0B192C;
}

